@{
    ViewBag.Title = "Home Page";
}

<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="#">Proyecto final web</a></h1>
            <span>Design by <a href="" rel="nofollow">TEMPLATED</a></span>
        </div>
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="#" accesskey="1" title="">Wallner's</a></li>
                <li>@Html.ActionLink("Usuario", "Index", "USUARIOs")<a href="#" accesskey="2" title=""></a></li>
                <li>@Html.ActionLink("Socios", "Index", "SOCIOS")<a href="#" accesskey="3" title=""></a></li>
                <li><a href="#" accesskey="4" title="">Sobre nosotros</a></li>
                <li><a href="#" accesskey="5" title="">Concatos></li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper2">
    <div id="welcome" class="container">
        <div class="title">
            <h2>Welcome to our website</h2>
        </div>
        <p>This is <strong>MetroBiz</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
    </div>
</div>
<div id="wrapper3">
    <div id="three-column" class="container">
        <div><span class="arrow-down"></span></div>
        <div id="tbox1">
            <span class="icon icon-wrench"></span>
            <div class="title">
                <h2>Maecenas luctus</h2>
            </div>
            <p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum.</p>
            <a href="#" class="button">Learn More</a>
        </div>
        <div id="tbox2">
            <span class="icon icon-cogs"></span>
            <div class="title">
                <h2>Integer gravida</h2>
            </div>
            <p>Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper suscipit eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris.</p>
            <a href="#" class="button">Learn More</a>
        </div>
        <div id="tbox3">
            <span class="icon icon-legal"></span>
            <div class="title">
                <h2>Praesent mauris</h2>
            </div>
            <p>Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem suscipit semper eleifend.</p>
            <a href="#" class="button">Learn More</a>
        </div>
    </div>	<div id="portfolio" class="container">
        <div class="title">
            <h2>Vivamus fermentum nibh</h2>
            <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
        </div>
        
        
        <div class="column2">
            
        
        
       
        
        
            <header class="title">
                
            </header>
           
        </div>
    </div>
</div>
<br /><br /><br /><br />
<div id="copyright" class="container">
    <p>&copy; . All rights reserved. | Photos by <a href="">Angelo Wallner</a> | Design by <a href="" rel="nofollow">Angelo Wallner</a>.</p>
</div>
